In [1]:
import pandas as pd

In [109]:
#link do folderu, w którym mamy bazę:

%cd "C:\Users\Dawid\Desktop\kurs\projekt\uber"

C:\Users\Dawid\Desktop\kurs\jdszr4-animalsi\uber

In [110]:
df=pd.read_csv("./database.csv")

C:\Users\Dawid\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [111]:
df

,Unnamed: 0,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
0,1,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
1,2,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
2,3,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
3,4,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
4,5,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2716422,2716423,72H,NaN,NaN,82,2015,H,4.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716423,2716424,72H,NaN,NaN,82,2015,H,5.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716424,2716425,72H,NaN,NaN,82,2015,H,5.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716425,2716426,76H,NaN,NaN,82,2015,H,2.0,NaN,0.0,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716426,2716427,76H,NaN,NaN,82,2015,H,5.0,NaN,0.0,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN

In [52]:
df.drop(columns=["Unnamed: 0","HOSPSTAY",'DOF1', 'GAD1','DVEST', 
                 'DVBASIS','BAGDEPLY','BAGFAIL','CASENO','MANAVAIL', 'MANFAIL', 'TREATMNT','DEATH'
                ],inplace = True)

In [62]:
df.columns

Index(['CASEID', 'PSU', 'YEAR', 'STRATIF', 'BODYTYPE', 'DVTOTAL', 'MAKE',
       'MODELYR', 'AGE', 'BAGAVAIL', 'CASENO', 'CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT'],
      dtype='object')



Aby sprawnie pracować na danych zawartych w tabeli, podzielimy ją na 3 tabele połacząne kluczem głównym (CASEID i PSU)

In [78]:
occupants = df[["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT']]

In [79]:
occupants.drop_duplicates(subset=["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT'],inplace=True, ignore_index=True)

<ipython-input-79-6732b027358d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants.drop_duplicates(subset=["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',

In [87]:
vehicles= df[['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [89]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

<ipython-input-89-650ac2603853>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles.drop_duplicates(subset=['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [101]:
accidents = df[['CASEID', 'PSU', 'STRATIF','YEAR']]

In [104]:
accidents.drop_duplicates(subset=['CASEID', 'PSU', 'STRATIF','YEAR'], inplace =True, ignore_index=True)

<ipython-input-104-0fba22f11641>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents.drop_duplicates(subset=['CASEID', 'PSU', 'STRATIF','YEAR'], inplace =True, ignore_index=True)

In [105]:
accidents

      CASEID  PSU STRATIF  YEAR
0         1H    2       H  2004
1         2K    2       K  2004
2         3E    2       E  2004
3         4A    2       A  2004
4         5D    2       D  2004
...      ...  ...     ...   ...
51973    67H   82       H  2015
51974    68J   82       J  2015
51975    70H   82       H  2015
51976    72H   82       H  2015
51977    76H   82       H  2015

[51978 rows x 4 columns]