In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("database.sqlite")

/Users/kamilakocot/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df

,Unnamed: 0,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
0,1,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
1,2,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
2,3,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
3,4,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
4,5,1H,NaN,F,2,2004,H,4.0,6.0,11.0,...,0.0,4.0,1.0,4.0,1.0,1.0,11.0,1.0,0.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2716422,2716423,72H,NaN,NaN,82,2015,H,4.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716423,2716424,72H,NaN,NaN,82,2015,H,5.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716424,2716425,72H,NaN,NaN,82,2015,H,5.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716425,2716426,76H,NaN,NaN,82,2015,H,2.0,NaN,0.0,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN
2716426,2716427,76H,NaN,NaN,82,2015,H,5.0,NaN,0.0,...,0.0,NaN,NaN,NaN,1.0,1.0,11.0,1.0,NaN,NaN

In [4]:
df.drop(columns=["Unnamed: 0","HOSPSTAY",'DOF1', 'GAD1','DVEST', 
                 'DVBASIS','BAGDEPLY','BAGFAIL','CASENO','MANAVAIL', 'MANFAIL', 'TREATMNT','DEATH'
                ],inplace = True)



Aby sprawnie pracować na danych zawartych w tabeli, podzielimy ją na 3 tabele połacząne kluczem głównym (CASEID i PSU)

In [5]:
occupants = df[["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT']]

In [6]:
occupants.drop_duplicates(subset=["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT'],inplace=True, ignore_index=True)

<ipython-input-6-6732b027358d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants.drop_duplicates(subset=["CASEID", 'PSU','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',

In [7]:
vehicles= df[['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [8]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

<ipython-input-8-650ac2603853>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles.drop_duplicates(subset=['CASEID', 'PSU','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [9]:
accidents = df[['CASEID', 'PSU', 'STRATIF','YEAR']]

In [10]:
accidents.drop_duplicates(subset=['CASEID', 'PSU', 'STRATIF','YEAR'], inplace =True, ignore_index=True)

<ipython-input-10-0fba22f11641>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents.drop_duplicates(subset=['CASEID', 'PSU', 'STRATIF','YEAR'], inplace =True, ignore_index=True)

In [11]:
occupants.columns

Index(['CASEID', 'PSU', 'AGE', 'BAGAVAIL', 'CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT'],
      dtype='object')

In [12]:
vehicles.columns

Index(['CASEID', 'PSU', 'BODYTYPE', 'MAKE', 'DVTOTAL', 'MODELYR'], dtype='object')

In [13]:
accidents.columns

Index(['CASEID', 'PSU', 'STRATIF', 'YEAR'], dtype='object')

In [14]:
import math
x = float('nan')
math.isnan(x)

True

KOLUMNA HEIGHT

In [15]:
Height_new=[]
for i in occupants['HEIGHT']:
    if i>=0 and i<=80:
        Height_new.append(1)
    elif i>=81 and i<=120:
        Height_new.append(2)
    elif i>=121 and i<=150:
        Height_new.append(3)
    elif i>=151 and i<=175:
        Height_new.append(4)
    elif i>=176 and i<=190:
        Height_new.append(5)
    elif i>=191:
        Height_new.append(6)
    elif math.isnan(i):
        Height_new.append(None)

In [16]:
occupants['Height_new']=Height_new

<ipython-input-16-05ce475b907c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['Height_new']=Height_new

In [17]:
occupants

,CASEID,PSU,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,Height_new
0,1H,2,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0,5.0
1,2K,2,69.0,1.0,0.0,178.0,1.0,4.0,1.0,1.0,11.0,1.0,86.0,5.0
2,2K,2,69.0,1.0,0.0,168.0,1.0,4.0,2.0,2.0,13.0,2.0,68.0,4.0
3,2K,2,18.0,1.0,0.0,NaN,3.0,4.0,1.0,1.0,11.0,1.0,NaN,NaN
4,2K,2,34.0,1.0,0.0,NaN,3.0,4.0,2.0,2.0,13.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110731,68J,82,23.0,0.0,0.0,183.0,0.0,4.0,5.0,2.0,23.0,1.0,77.0,5.0
110732,68J,82,22.0,0.0,0.0,163.0,3.0,0.0,6.0,2.0,25.0,2.0,59.0,4.0
110733,70H,82,26.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN
110734,72H,82,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN
110735,76H,82,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN

KOLUMNA CHTYPE

In [18]:
Chtype_new=[]

for i in occupants['CHTYPE']:
    if i==0:
        Chtype_new.append(0)
    elif i>=1 and i<=8:
        Chtype_new.append(1) 
    elif math.isnan(i):
        Chtype_new.append(None)

In [19]:
occupants['Chtype_new']=Chtype_new

<ipython-input-19-2c45352291ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['Chtype_new']=Chtype_new

In [20]:
occupants

,CASEID,PSU,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,Height_new,Chtype_new
0,1H,2,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0,5.0,0.0
1,2K,2,69.0,1.0,0.0,178.0,1.0,4.0,1.0,1.0,11.0,1.0,86.0,5.0,0.0
2,2K,2,69.0,1.0,0.0,168.0,1.0,4.0,2.0,2.0,13.0,2.0,68.0,4.0,0.0
3,2K,2,18.0,1.0,0.0,NaN,3.0,4.0,1.0,1.0,11.0,1.0,NaN,NaN,0.0
4,2K,2,34.0,1.0,0.0,NaN,3.0,4.0,2.0,2.0,13.0,1.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110731,68J,82,23.0,0.0,0.0,183.0,0.0,4.0,5.0,2.0,23.0,1.0,77.0,5.0,0.0
110732,68J,82,22.0,0.0,0.0,163.0,3.0,0.0,6.0,2.0,25.0,2.0,59.0,4.0,0.0
110733,70H,82,26.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN
110734,72H,82,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN
110735,76H,82,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN

KOLUMNA BAGAVAIL

In [21]:
Bagavail_new=[]

for i in occupants['BAGAVAIL']:
    if i==0 or i==2 or i==3:
        Bagavail_new.append(0) 
    elif i==1:
        Bagavail_new.append(1) 
    elif math.isnan(i):
        Bagavail_new.append(None)

In [22]:
occupants['Bagavail_new']=Bagavail_new

<ipython-input-22-0b308da1c91f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['Bagavail_new']=Bagavail_new

In [23]:
occupants

,CASEID,PSU,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,Height_new,Chtype_new,Bagavail_new
0,1H,2,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0,5.0,0.0,1.0
1,2K,2,69.0,1.0,0.0,178.0,1.0,4.0,1.0,1.0,11.0,1.0,86.0,5.0,0.0,1.0
2,2K,2,69.0,1.0,0.0,168.0,1.0,4.0,2.0,2.0,13.0,2.0,68.0,4.0,0.0,1.0
3,2K,2,18.0,1.0,0.0,NaN,3.0,4.0,1.0,1.0,11.0,1.0,NaN,NaN,0.0,1.0
4,2K,2,34.0,1.0,0.0,NaN,3.0,4.0,2.0,2.0,13.0,1.0,NaN,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110731,68J,82,23.0,0.0,0.0,183.0,0.0,4.0,5.0,2.0,23.0,1.0,77.0,5.0,0.0,0.0
110732,68J,82,22.0,0.0,0.0,163.0,3.0,0.0,6.0,2.0,25.0,2.0,59.0,4.0,0.0,0.0
110733,70H,82,26.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN
110734,72H,82,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN
110735,76H,82,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN

KOLUMNA AGE:

In [24]:
Age_new=[]

for i in occupants['AGE']:
    if i>=0 and i<=3:
        Age_new.append(1)
    elif i>=4 and i<=7:
        Age_new.append(2)
    elif i>=8 and i<=12:
        Age_new.append(3)
    elif i>=13 and i<=16:
        Age_new.append(4)
    elif i>=17 and i<=21:
        Age_new.append(5)
    elif i>=22 and i<=30:
        Age_new.append(6)
    elif i>=31 and i<=50:
        Age_new.append(7)
    elif i>=51 and i<=65:
        Age_new.append(8)
    elif i>=66:
        Age_new.append(9)
    elif math.isnan(i):
        Age_new.append(None)

In [25]:
occupants['Age_new']=Age_new

<ipython-input-25-60a1eb22d39d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['Age_new']=Age_new

In [26]:
occupants

,CASEID,PSU,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,Height_new,Chtype_new,Bagavail_new,Age_new
0,1H,2,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0,5.0,0.0,1.0,5.0
1,2K,2,69.0,1.0,0.0,178.0,1.0,4.0,1.0,1.0,11.0,1.0,86.0,5.0,0.0,1.0,9.0
2,2K,2,69.0,1.0,0.0,168.0,1.0,4.0,2.0,2.0,13.0,2.0,68.0,4.0,0.0,1.0,9.0
3,2K,2,18.0,1.0,0.0,NaN,3.0,4.0,1.0,1.0,11.0,1.0,NaN,NaN,0.0,1.0,5.0
4,2K,2,34.0,1.0,0.0,NaN,3.0,4.0,2.0,2.0,13.0,1.0,NaN,NaN,0.0,1.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110731,68J,82,23.0,0.0,0.0,183.0,0.0,4.0,5.0,2.0,23.0,1.0,77.0,5.0,0.0,0.0,6.0
110732,68J,82,22.0,0.0,0.0,163.0,3.0,0.0,6.0,2.0,25.0,2.0,59.0,4.0,0.0,0.0,6.0
110733,70H,82,26.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN,6.0
110734,72H,82,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN,6.0
110735,76H,82,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN,NaN,NaN,NaN,9.0